body {
    font-family: Arial, Helvetica, sans-serif;
  }

 img{
    margin: 8px 8px;


 }
   input[type=text], input[type=password] {
   
    margin: 8px 08px;
   
    display: inline-block;
    border: solid 1px rgb(0, 0, 0);
    background: #f1f1f1;
  } 

  
  button {
    background-color: #5f83f2;
    color: white;
    margin: 3px 3px;
    cursor: pointer;
    /* padding: 4px 2px;
     

    margin: 8px 0;
    border: none;
    
    width: 10%; */
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
    