

    <div class="card" style="width: 18rem;">
        <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
        <div *ngIf="production != null" class="card-body">
          <h5 class="card-title card-col">{{production.id}}</h5>
          <p class="card-text card-col">Description: ...............................................................................................................</p>
        </div>
        <ul *ngIf="production != null" class="list-group list-group-flush">
          <li class="list-group-item">Name : {{production.name}}</li>
          <li class="list-group-item">Client : {{production.client}}</li>
          <!-- <li class="list-group-item">to be defined</li> -->
        </ul>
        <div class="card-body">
          <a  class="card-link" (click)="onClick()" [routerLink]="['/productionsIdTasks']">Details</a>
          <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>



































<!-- <p class="p">{{production | json}}</p> -->
<!-- <p>{{production_client}}</p> -->


<!-- [routerLink]="['/new']" -->

<!-- [routerLink]="['/productionsIdTasks']"  -->