.p{background-color: rgb(238, 231, 227);
    color:rgb(199, 109, 7);

    border-width:  2px  ;
    border-color: rgb(39, 30, 18);
    border-style: solid;
    
    padding: 20px 300px;
    margin: 20px;

 
    
} 

.p:hover{
    background-color: rgb(129, 129, 129);
    color: rgb(71, 5, 5);
}

#production{
    margin: 10px;
}

.taille{
    width:200px;
}

.card-col{
    background-color: rgb(72, 114, 228);
}